* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 5px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
}

.pending {
    background-color: rgba(100, 148, 237, 0.281);
}

.in-progress {
    background-color: rgba(184, 135, 11, 0.397);
}

.done {
    background-color: rgba(85, 107, 47, 0.432);
}

.cancelled {
    background-color: rgba(255, 68, 0, 0.527);
}
